.movieCard{
    background-color: rgb(96, 0, 0);
    margin: 10px;
    border-radius: 2%;
    padding: 5px;
    min-width: 100px;
    max-width: 200px;
}

.movieCard > img{
    max-width: 100%;
}

.title{
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.price{
    font-size: 0.8rem;
    text-transform: uppercase;
    display: inline;
}

.fw, .cw{
    display: inline-block;
}

